html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body
{
	/* background: url("images/fond.png") repeat scroll 0 0 #0f2a38; */
	background: #FFFFFF;
	font-size: 75%;
	margin: auto;
	font-family: "Trebuchet MS",Helvetica,sans-serif;
}


/* Liens */
a 
{
	text-decoration:none;
}
	
a:hover  
{
	text-decoration: underline;
}

.autreLien 
{
	text-decoration: underline;
	color:Blue;
}
	
.autreLien:hover  
{
	text-decoration: underline;
	cursor:pointer;
}

.space 
{
	margin-top:5px;
	}
	
div#divContacter 
{
	width:100%;
	margin:auto;
	text-align:center;
}

.rowHistoStyle td
{
	padding-left:5px;
	padding-right:5px;
	/*color:#666666;*/
}
	
#outer 
{
	/* background: url("images/ombre.gif") repeat-x scroll 0 0 #FFFFFF; */
	background: #FFFFFF;
	/* width:930px; */
	width:780px;
	background-color:White ;
	margin: auto;
	}

.frmCenter 
{
	float:left;
	margin-bottom:30px;
	width:100%;
	}
	
.footer 
{
	background-color: #b01821;
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,#580c10), color-stop(3%,#650e13), color-stop(20%,#b01821), color-stop(100%,#b01821)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top , #580c10 0px, #650e13 3%, #b01821 20%, #b01821 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background:    -moz-linear-gradient(center top , #580c10 0px, #650e13 3%, #b01821 20%, #b01821 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background:     -ms-linear-gradient(center top , #580c10 0px, #650e13 3%, #b01821 20%, #b01821 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background:      -o-linear-gradient(center top , #580c10 0px, #650e13 3%, #b01821 20%, #b01821 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background:         linear-gradient(center top , #580c10 0px, #650e13 3%, #b01821 20%, #b01821 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	-pie-background: linear-gradient(top, #580c10 0px, #650e13 3%, #b01821 20%, #b01821 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    position:relative;
    behavior: url(App_Themes/Default/PIE.htc);
	margin: 100px auto 50px;
	padding: 10px;	
	clear:both;	
}
	
h3 
{
	color:#383838;
	float:left;	
	margin-top:5px;
}

.requis 
{
	color: Red;
	margin-left:10px;
	}
	
.titre 
{
	float:left;
	text-align:center;
	font-size:x-large;
	font-weight:bold;
    color       :   #0B6988;
    text-align  :   center;   
    width       :   100%;
    margin : 10px auto 20px auto;
    padding: 5px;	
}

#sousTitre 
{
	margin:0px 0px 20px 0px;
	background-color:#b01821;
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,#580c10), color-stop(3%,#650e13), color-stop(20%,#b01821), color-stop(100%,#b01821)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom , #580c10 0px, #650e13 3%, #b01821 20%, #b01821 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background:    -moz-linear-gradient(center bottom , #580c10 0px, #650e13 3%, #b01821 20%, #b01821 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background:     -ms-linear-gradient(center bottom , #580c10 0px, #650e13 3%, #b01821 20%, #b01821 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background:      -o-linear-gradient(center bottom , #580c10 0px, #650e13 3%, #b01821 20%, #b01821 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background:         linear-gradient(center bottom , #580c10 0px, #650e13 3%, #b01821 20%, #b01821 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	-pie-background: linear-gradient(bottom, #580c10 0px, #650e13 3%, #b01821 20%, #b01821 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    position:relative;
    behavior: url(PIE.htc);
    color:#FFF;
	height:30px; 
	clear:both; 
	float:left;
	width:100%;
}

#sousTitre a
{
	 margin:5px 10px auto 10px;
	 color:#FFF;
}

#sousTitre H3
{
	 color:#FFF;
	 padding-left:10px;
}

.cadre 
{
	clear:both;
	float:left;
	margin:auto;
	border:solid 1px gray; 
	border-radius: 4px 4px 4px 4px;
	padding: 20px;
	position:relative;
	left:75px;
	/* width:750px; */
	width:600px;
}

.cadreInterieur 
{
	clear:both;
	margin:0 0 15px 0;
	border:solid 1px gray; 
	border-radius: 4px 4px 4px 4px;
	padding: 0px;
	position:relative;
	width:100%;
	display:inline-block;
}

div.cadreInterieur .bloc_message 
 {
 	margin-top: 10px;
 }

.cadre h2 
{
	margin:0 0 15px 0;	
}

div#login.cadre 
{
	position:relative;
}

div#creationCompte.cadre 
{
	position:relative;
}
	
.label-info 
{
	color: #737373;
	clear:both;
	margin-bottom:10px;
	margin-right:10px;
}

.lblTotal 
{
	width:80px;
	text-align:center; 
	display: inline-block;
	}
	

.label-desactive 
{
	color: #FF2335;
	font-size:x-large;
	font-weight:bolder;
	margin:20px 10px 10px auto; 
}
	
.label-saisie
{
	text-align:right;
	color: #666666;
	font-size: 12px;
    font-weight: bold;
    padding: 3px 6px 0 0;
}

.pnlLogoUrl 
{
margin:10px;	
}

.text-saisie, .dateChooser input
{
	padding: 0 5px;
    width: 275px;
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

hr 
{
	margin:20px auto 20px auto;
	}
.dateChooser
{
    width: 80px;
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    display:inline-block;
    border: solid 1px #7F9DB9;
    margin-top:5px;
}

.divAvertissement
{
	clear:both;
	float:left;
	margin:10px auto auto 25px;
}

.label-avertissement 
{
	color:#FF3300;
}
	
.right
{	
    text-align:right;
}

.divErreur, .bloc_message
{
	background-color: #FFFAE3;
    border: 1px solid #FFBB02;
    border-radius: 4px 4px 4px 4px;
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;    
    float:left;
    width:100%; 
}

.bloc_message 
 {
 	background: url("images/bg_info.png") no-repeat scroll 18px center #FFFAE3;
 	padding: 10px 10px 10px 60px;
 	margin-left:10px;
 	margin-right:auto;
 	width:90%; 
    color: #333333;
 }
 
.infoEtab 
{
	color: #666666;
	font-size: 12px;
	/*line-height:15px;*/
	margin:10px;
}

.infoHote 
{
	float:right;
    left: 900px;
    position: absolute;
    top: 10px;
}
	
.enteteTableauEtab
{
	color: White;
	background-color:#b01821;
	font-size: 12px;
	line-height:12px;
}

.tableauEtab
{
	color: #4C4C4C;
	padding-left:5px;
	border:  solid 1px #737373;
}

div.messagesq {
    background-color: #FFFAE3;
    border: 1px solid #FFBB02;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto 18px;
    padding: 20px 20px 20px 60px;
    position: relative;
    top: 15px;
    width: 858px;
}

div#identLeft, div#identRight 
{
	/* width  :375px; */
	width  :300px;
}

div#identLeft
{
	float:left;
}

div#identRight
{
	float:right;
}

#Smartphone_Tableau_Entete 
{
	display:none;
}


	
/* ----- BOUTTONS ------ */	

.bouton {
    clear:both ;
    margin-top:20px;
    text-align: center;
    float:left;
}

.center
{
	float:none;
	margin-left: auto;
	margin-right: auto;
}

div.bouton input, input.bouton 
{
	float:none;
	margin-left:auto;
	margin-right:auto;
	background-color: #d64118;
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF6D0F), color-stop(100%,#B01821)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(#FF6D0F, #B01821);
	background:    -moz-linear-gradient(#FF6D0F, #B01821);
	background:     -ms-linear-gradient(#FF6D0F, #B01821);
	background:      -o-linear-gradient(#FF6D0F, #B01821);
	background:         linear-gradient(#FF6D0F, #B01821);
	-pie-background: linear-gradient(top, #FF6D0F, #B01821);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	position:relative;
    border-radius:5px;
    behavior: url(PIE.htc);
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	padding:8px 14px 12px 12px;
	font-weight: bold;
	font-size: large;
	border: 1px solid red;
}

div.bouton input.Disabled
{
	background: #EFEFEF;
	border: 1px solid #D9D9D9;
}

div.bouton:hover {
	cursor:inherit;
}

div.bouton input:hover {
    text-decoration: none !important;
    background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF9458), color-stop(100%,#FF5522)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(#FF9458, #FF5522);
	background:    -moz-linear-gradient(#FF9458, #FF5522);
	background:     -ms-linear-gradient(#FF9458, #FF5522);
	background:      -o-linear-gradient(#FF9458, #FF5522);
	background:         linear-gradient(#FF9458, #FF5522);
	-pie-background: linear-gradient(top, #FF9458, #FF5522);
	cursor: pointer;
}

div.bouton input.Disabled:hover {
    background: #EFEFEF;
	border: 1px solid #D9D9D9;
	cursor: pointer;
}

/* Gestion des boutons de navigation de la grille des historiques */
.grid_paging a
{
	text-decoration: none;   
}

.grid_paging a:hover
{
    text-decoration: underline;     
}

.grid_paging a:link
{
	font-size: 12px;
	padding: 2px 6px;
	background-color :#EBECEE;
	border: 1px solid #B5BAC0;    
 }
    
.grid_paging span
{
	background-color: #263441;
	border: 1px solid #DBEAFF;
    color: #FFFFFF;
    padding: 2px 5px;   
}

.input_large
{
	width : 220px;
}

.ariane
{
	float:left;
	margin:5px 10px auto 10px;	
}

/*.modeArgent
{
	display:inline-block;
}*/

#forfaitRestant, #soldeRepas
{
	float:left;
	text-align: center;
	width:370px;
}

.showOnMobile
{
	display:none;	
}

.nomEtablissement
{
    font-size: large;
    font-weight: bold;
}	

.large
{
	width:300px;
}

#hote
{
	float:right;
}

#forfaitRestantBlock, #soldeRepasBlock
{
	height:150px
}

.noStyleList
{
	 list-style-type : none;
}

#reservation
{
	height: 40px;
	margin:25px 0 0 8px;	
}

a.modify
{
	font-size:medium;
	font-weight:normal;
	padding-right:10px;
	text-decoration:none;
	color:#000;
	display:inline-block;
	margin-top:6px;
	vertical-align:top;
}

a.modify:hover
{
	text-decoration:none;
	cursor:hand;
}

a.modify.disabled
{
	color:#c5c5c5;
}

a.modify.active
{
	color:#3311f1;
	font-weight:bold;
}

a.modify.active:hover
{
	text-decoration:underline;
}

.day_line
{
	clear: both;
    float: right;
    margin: 0;
    padding: 0 25px 0 0;
    text-align: right;
}

.hidden
{
	display:none;
}

.visible
{
	display : block;
}

.semaine
{
	width:50%;
	float:left;
}

.semaine .day_line label.active
{
	font-size:medium;
	padding-right:10px;
}

/*.semaine .day_line a label
{
	font-weight:bold;
}*/

.switch-wrapper {
  display: inline-block;
  position: relative;
  top: 2px;
}

ul.reservation_list
{
	/*padding-right:10px;*/
	padding:0px 5px 5px 5px;
	margin-top:10px;
	margin-bottom:5px;
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF),  color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(#FFF, #fafafa);
	background:    -moz-linear-gradient(#FFF, #fafafa);
	background:     -ms-linear-gradient(#FFF, #fafafa);
	background:      -o-linear-gradient(#FFF, #fafafa);
	background:         linear-gradient(#FFF, #fafafa);
	-pie-background: linear-gradient(top, #FFF, #fafafa);
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	position:relative;
    border-radius:0px 0px 5px 5px;
    behavior: url(PIE.htc);
    text-align:left;
}

#information
{
	clear:both;
	padding-top:10px;	
}

li.borne_line
{
	width:100%;
	clear:both;
}

#nextWeek
{
	float:right;	
	font-size:medium;
}

#previousWeek
{
	float:left;
	font-size:medium;
}

.float_right
{
	float:right;
}

.day_list {
	padding-right: 30px;
}

.borne_label
{
	width: 50%; 
	text-overflow: ellipsis; 
	display: inline-block; 
	white-space: nowrap; 
	overflow: hidden; 
}

.mois_repas
{
	position:absolute;
	color:#FFF;
	padding:65px 0 0 520px;
	font-weight:bold;
	font-size:medium;
	width: 180px;
	word-wrap: break-word;
}

.titre_repas
{
	width:120px;
	position:absolute;
	color:#FFF;
	padding:40px 0 0 50px;
	vertical-align:middle;
}


a.info
{
	background: url("images/bg_info.png") no-repeat;
	display: inline-block;
    height: 25px;
    padding-left: 25px;
    position:absolute;
    margin-top:3px;
}


.ui-tooltip, .arrow:after {
	background: rgb(255, 255, 225);
	padding: 5px;
	margin:0;
}

.pnlLogoUrl221 
{
	width:221px;	/* 930 - 709 */
	/*margin:0;*/
	height:150px;
}

#information {
    font-size: small;
}

#outer.admin 
{
	width:1105px;	
}
/* */	

.montant 
{
	text-align:right;
	width: 100px;
}

.attente 
{
}

.logo-mobile {
	position:absolute;
	left:120px;
}

.itunes-logo {
	display:inline-block;
	overflow:hidden;
	background:url("images/itunesstore.png") no-repeat;
	width:152px;
	height:45px;
	margin-left:10px;
}

.android-logo {
	display:inline-block;
	overflow:hidden;
	background:url("images/playstore.png") no-repeat;
	width:135px;
	height:45px;
}

.footer-logo 
{
	border:none;
	height:43px;
}

.LogoEtablissement 
{
	max-height:150px;
	max-width:221px;	
}

#notification 
{
	background-color: #FFFAE3;
    border: 1px solid #FFBB02;
    border-radius: 4px 4px 4px 4px;
    font-size: 14px;
    font-weight: bold;
 	background: url("images/bg_info.png") no-repeat scroll 8px center #FFFAE3;
 	padding: 10px 10px 10px 10px;
    color: #333333;
    z-index:1;
    position:absolute;
    margin-top:30px;
    text-align:center;
    display:none;
    clear:both;
}

.middle 
{
	vertical-align:middle;
}

.bold
{
	font-weight:bold;
}

#divPrecedentSuivant {
	width:100%;
	height:30px;
}

#ctl00_cntForm_divMessageAccueil 
{
	float:left;
	padding:10px;
	width:470px;
	text-overflow:ellipsis;
	overflow:hidden;
}